.loadingPage {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
}
.typed{
    font-size: clamp(14px , 2.5vw , 3.5rem);
}
.Question{
    /* text-shadow: 0.2rem -0.2rem 0.5rem white; */
    animation: QuestionAnim infinite 4.5s;
}
@keyframes QuestionAnim{
    0%{
        text-shadow: 0rem -0.1rem 0.7rem white;

    }
    25%{
        text-shadow: 0.1rem -0.2rem 0.7rem white;

    }
    50%{
        text-shadow: 0rem -0.25rem 0.7rem white;

    }
    75%{
        text-shadow: -0.1rem -0.2rem 0.7rem white;
    }
    100%{
        text-shadow: 0rem -0.1rem 0.7rem white;

    }
}
.ClickAnim {

    animation: ClickBtnAnim infinite 1.5s;
}

@keyframes ClickBtnAnim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

.WAIAnim {
    animation: WAIAnim 1.5s;
}


@keyframes WAIAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.LoadingPageSecAnim {
    animation: LoadingPAgeAnim 1.5s;
}

@keyframes LoadingPAgeAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}
